In [1]:
import pandas as pd

In [2]:
#creating the paths to the covid and country files

world_country_path = 'world_country_lat_long.csv'
covid_data_path = 'owid-covid-data-filtered.csv'

In [3]:
#reading the country data into pandas dataframe
world_country_df = pd.read_csv('world_country_lat_long.csv')

world_country_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'world_country_lat_long.csv'

In [36]:
# selecting the country,latitude and longitude columns

country_df = world_country_df[['country','latitude','longitude']]

country_df

                  country   latitude  longitude
0                 Andorra  42.546245   1.601554
1    United Arab Emirates  23.424076  53.847818
2             Afghanistan  33.939110  67.709953
3     Antigua and Barbuda  17.060816 -61.796428
4                Anguilla  18.220554 -63.068615
..                    ...        ...        ...
240                 Yemen  15.552727  48.516388
241               Mayotte -12.827500  45.166244
242          South Africa -30.559482  22.937506
243                Zambia -13.133897  27.849332
244              Zimbabwe -19.015438  29.154857

[245 rows x 3 columns]

In [37]:
#checking for missing values

missing_values = country_df.isnull().sum()

missing_values

country      0
latitude     1
longitude    1
dtype: int64

In [39]:
#removing the row with no latitude and longitude data

country_df = country_df[country_df['country'] != 'U.S. Minor Outlying Islands']

In [40]:
#verifying missing data

missing_values = country_df.isnull().sum()

missing_values

country      0
latitude     0
longitude    0
dtype: int64

In [11]:
#reading the covid data into pandas dataframe

covid_df = pd.read_csv(covid_data_path)

covid_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,01/04/2020,166.0,52.0,17.714,4.0,0.0,0.429,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,01/07/2020,31359.0,121.0,268.286,735.0,2.0,16.714,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,01/10/2020,39268.0,14.0,17.571,1458.0,0.0,1.714,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,01/01/2021,52513.0,183.0,131.143,2201.0,12.0,9.429,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,01/04/2021,56517.0,63.0,41.571,2489.0,5.0,3.143,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

In [41]:
#renaming the covid data column to ensure that the name tallies with the country data column 
covid_df= covid_df.rename(columns = {'location':'country'})

covid_df.head()

,iso_code,continent,country,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,01/04/2020,166.0,52.0,17.714,4.0,0.0,0.429,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,01/07/2020,31359.0,121.0,268.286,735.0,2.0,16.714,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,01/10/2020,39268.0,14.0,17.571,1458.0,0.0,1.714,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,01/01/2021,52513.0,183.0,131.143,2201.0,12.0,9.429,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,01/04/2021,56517.0,63.0,41.571,2489.0,5.0,3.143,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

In [42]:
merged_df = pd.merge(covid_df, country_df, on= 'country', how= 'left')

merged_df.head()

,iso_code,continent,country,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,latitude,longitude
0,AFG,Asia,Afghanistan,01/04/2020,166.0,52.0,17.714,4.0,0.0,0.429,...,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN,33.93911,67.709953
1,AFG,Asia,Afghanistan,01/07/2020,31359.0,121.0,268.286,735.0,2.0,16.714,...,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN,33.93911,67.709953
2,AFG,Asia,Afghanistan,01/10/2020,39268.0,14.0,17.571,1458.0,0.0,1.714,...,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN,33.93911,67.709953
3,AFG,Asia,Afghanistan,01/01/2021,52513.0,183.0,131.143,2201.0,12.0,9.429,...,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN,33.93911,67.709953
4,AFG,Asia,Afghanistan,01/04/2021,56517.0,63.0,41.571,2489.0,5.0,3.143,...,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN,33.93911,67.709953

In [48]:
merged_df.tail()

,iso_code,continent,country,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,latitude,longitude
3541,ZWE,Africa,Zimbabwe,01/07/2022,255586.0,0.0,48.571,5555.0,0.0,1.286,...,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN,-19.015438,29.154857
3542,ZWE,Africa,Zimbabwe,01/10/2022,257465.0,0.0,21.000,5602.0,0.0,0.429,...,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN,-19.015438,29.154857
3543,ZWE,Africa,Zimbabwe,01/01/2023,260146.0,46.0,28.857,5639.0,2.0,0.571,...,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN,-19.015438,29.154857
3544,ZWE,Africa,Zimbabwe,01/04/2023,264549.0,7.0,5.857,5681.0,0.0,0.286,...,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN,-19.015438,29.154857
3545,ZWE,Africa,Zimbabwe,01/07/2023,265524.0,0.0,15.857,5707.0,0.0,0.000,...,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN,-19.015438,29.154857